.header-bg {
  background-image: url("https://image.freepik.com/free-photo/cloud-computing-banner-background-smart-city_53876-108504.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer {
  background-color: rgb(68, 48, 48);
  color: white;
}
.input-form {
  width: 50%;
}
.form-background {
  background-color: #063d8038;
  height: 90.6vh;
}
@media only screen and (max-width: 576px) {
  .input-form {
    width: 100%;
  }
}
