.header-bg {
  background-image: url("https://image.freepik.com/free-photo/close-up-businessman-with-digital-tablet_1098-549.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer {
  /* background-color: rgb(68, 48, 48); */
  color: white;
}
.input-form {
  width: 50%;
}
.form-background {
  background-color: #063d8038;
  height: 90.6vh;
}
.home-style {
  margin-top: -30px;
}
@media only screen and (max-width: 576px) {
  .input-form {
    width: 100%;
  }
  .home-style {
    width: 80%;
  }
  .home-style {
    margin-top: auto;
  }
}
