.dashboard-leftnav-container{
    background-color:black;
    width:200px; 
    height: 100vh; 
    color: white;
    position: fixed;
}
.outlet-container{
    margin-left: 200px;
}

.toggle-icon{
    margin-left: 200px;
}

@media only screen and (max-width: 768px) {
    .outlet-container{
        margin-left: 15px;
    }
  }